@model IEnumerable<ExcellentTasteMathijsPattipeilohy.Models.Bestelling>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Bestellingen die klaar zijn</h2>
<br />
<table class="table">
    <tr>
        <th>
            Tafel
        </th>
        <th>
            Consumptie naam
        </th>
        <th>
            Aantal
        </th>
        <th>
            Bestelling aanmaking
        </th>
        <th>
            Prijs
        </th>
        <th>
            Totaal
        </th>
        <th>
            Consumptie groeps code
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reservering.tafel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItem.consumptieItemNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTimeBereidingConsumptie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totaal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItem.consumptieGroepCode)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.bestellingId })" class="btn btn-danger" , style="margin: 10px;">
                    <i icon class="glyphicon glyphicon-circle-arrow-right"></i>
                </a>
                <a href="@Url.Action("Details", new { id = item.bestellingId })" class="btn btn-primary" , style="margin: 10px;">
                    <i icon class="glyphicon glyphicon-book"></i>
                </a>
            </td>
        </tr>
    }

</table>