@model IEnumerable<ExcellentTasteMathijsPattipeilohy.Models.Bestelling>

@{
    ViewBag.Title = "Index";
}
    <br />
    <p>
        Bestellingen voor Kok
    </p>

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            tafel
        </th>
        <th>
            consumptie naam
        </th>
        <th>
            aantal
        </th>
        <th>
            item aanmaking
        </th>
        <th>
            prijs
        </th>
        <th>
            totaal
        </th>
        <th>
            consumptie groeps code
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reservering.tafel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItem.consumptieItemNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTimeBereidingConsumptie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totaal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptieItem.consumptieGroepCode)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.bestellingId })" class="btn btn-warning" , style="margin: 10px;">
                    <i icon class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="@Url.Action("Details", new { id = item.bestellingId })" class="btn btn-primary" , style="margin: 10px;">
                    <i icon class="glyphicon glyphicon-book"></i>
                </a>
            </td>
        </tr>
    }

</table>